%h1 Payment Categories
%table#paymentMethods
  %thead
    %tr
      %th Category Name        
      %th Active      
      %th Sort Order
  %tbody
    - @paymentCategories.each do |pc|
      %tr
        %td= link_to "#{pc.name}", edit_payment_category_path(pc) 
        %td= check_box_tag("#{pc.name}_active", "", pc.active?)
        %td= pc.sortOrder
