%h1 Listing payments

%table
  %tr
    %th ID
    %th Date    
    %th Category
    %th Amount
    %th Method
    %th Note
    %th    

  - @payments.each do |payment|
    %tr
      %td= link_to "#{payment.id}", edit_payment_path(payment)
      %td= payment.purchaseDate
      %td
        %table
          - payment.paymentCategories.each do |cat|
            %tr
              %td= cat.name
      %td= payment.amount
      %td= payment.paymentMethod.name
      %td= payment.description      
      %td= link_to 'Delete', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
