%h1 Payment Methods
%table#paymentMethods
  %thead
    %tr
      %th Method Name        
      %th Active      
      %th Sort Order
  %tbody
    - @paymentMethods.each do |pm|
      %tr
        %td= link_to "#{pm.name}", edit_payment_method_path(pm) 
        %td= check_box_tag("#{pm.name}_active", "", pm.active?)
        %td= pm.sortOrder
